.lesson-two {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: #FAFAFA;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lesson-two-h2 {
  margin: 20px 0 10px;
  font-size: 1.2em;
  border-top: 1px solid #dcdcdc;
  padding-top: 10px;
}
a {
  padding: 5px 10px;
  background: #8B538F;
  transition: all 0.3s;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px 0;
  display: inline-block;
}
a:hover {
  opacity: 0.6;
}
#lesson-two-p {
  font-size: 1em;
}
#go {
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #636363;
  width: 330px;
  padding: 20px;
}
.box {
  background: #8B538F;
  width: 20px;
  height: 20px;
  transition-duration: 2s;
}
.linear .box {
  transition-timing-function: linear;
}
.ease-in .box {
  transition-timing-function: ease-in;
}
.ease-out .box {
  transition-timing-function: ease-out;
}
.ease-in-out .box {
  transition-timing-function: ease-in-out;
}
.steps .box {
  transition-timing-function: steps(4);
}
#go:target .box {
  transform: translate(300px);
}
